/* style.css */

body
  {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  }

#director_list p.page_heading
  {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  }

#director_list #directors
  {
  padding-left: 65px;
  }

#director_list .director
  {
  padding-bottom: 10px;
  }

#director_page p.page_heading
  {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  }

#director_page div.movie
  {
  width: 255px;
  float: left;
  padding-left: 40px;
  }

#director_page div.movie div.movie_desc
  {
  padding-bottom: 20px;
  }

#movie_page p.page_heading
  {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  }

#movie_page div.movie
  {
  width: 255px;
  float: left;
  padding-left: 40px;
  }

#movie_page div.movie div.movie_desc
  {
  padding-bottom: 20px;
  }

#admin-button,
#home-button
  {
  background-color: #D3D3D3;  /* light gray */
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  }

#admin-add-director-button,
#admin-delete-director-button,
#admin-add-movie-button,
#admin-delete-movie-button
  {
  background-color: #D3D3D3;  /* light gray */
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  }

#admin_page h2
  {
  padding-bottom: 10px;
  }

td
  {
  padding-bottom: 40px;
  padding-right: 25px;
  }


input[type="text"]
  {
  width: 171px;
  }

select
  {
  width: 175px;
  }
