<!DOCTYPE html>

<html>

<head>
  <title>{{ PAGE_TITLE }}</title>
 
  <!-- Meta -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 
  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://localhost:8080/content/jquery-ui-themes-1.12.1/themes/ui-lightness/jquery-ui.min.css" />
  <link rel="stylesheet" href="http://localhost:8080/content/style.css" />
 
  <!-- Javascript -->
  <script src="http://localhost:8080/content/jquery-3.3.1.min.js"></script>
  <script src="http://localhost:8080/content/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="http://localhost:8080/content/mustache.js"></script>
  <script src="http://localhost:8080/content/{{ PAGE_NAME }}.js"></script>
</head>

<body></body>
 
</html>

